<div class="container"> 
  <table class="table table-hover border-secondary-subtle align-middle">  
    <thead>  
        <tr>  
          <th>appId</th>  
          <th>traceId</th>  
          <th>errorCode</th>  
          <th>message</th>  
          <th>messageTimestamp</th>
        </tr>  
    </thead>  
    <tbody> 
      <tr *ngFor="let data of Data">  
        <td>{{data.msgContext.appId}}</td> 
        <td>{{data.traceId}}</td>  
        <td>{{data.additionalInfo.errorCode}}</td> 
        <td>{{data.message}}</td>  
        <td>{{data.additionalInfo.messageTimestamp}}</td>  
      </tr>  
    </tbody>  
  </table>  
</div>  