<div class="container">  
  <h1>Test</h1>  
    
  <table class="table table-striped">  
    <thead>  
        <tr>  
          <th>appId</th>  
          <th>traceId</th>  
          <th>errorCode</th>  
          <th>message</th>  
          <th>messageTimestamp</th>
        </tr>  
    </thead>  
    <tbody> 
      <tr>  
        <td>{{appId}}</td> 
        <td>{{traceId}}</td>  
        <td>{{errorCode}}</td> 
        <td>{{message}}</td>  
        <td>{{messageTimestamp}}</td>  
      </tr>  
    </tbody>  
  </table>  
</div>  